---
layout: default
---

<div class="row">
  <div class="col s12 l9">
  	<h2>{{ page.type }}: '{{ page.title }}'</h2>
    <ul class="post-list">
        {% for post in page.posts %}
          <li class="">
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
            </h2>
            {{ post.excerpt }}
          </li>
        {% endfor %}
      </ul>
  </div>
  {% include nav.html %}
</div>