// bower:scss
@import "bower_components/Materialize/sass/materialize.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Dosis);

$tsa-blue: #12bfff;
$tsa-pink: #c1006e;
$transition-time: .2s;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #d0d2d4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#d0d2d4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffffff 0%,#d0d2d4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d0d2d4',GradientType=0 ); /* IE6-9 */

  & > .container {
    flex: 1 0 auto;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
}

a {
  @extend .pink-text, .text-darken-2;
  transition: color $transition-time;

  &:hover {
    @extend .text-darken-4;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.site-header {
  justify-content: space-between;
}

.blog-name {
  font-size: 22px;

  a {
    color: rgba(0, 0, 0, 0.87) !important;
  }

  img {
    vertical-align: middle;
    margin-right: 20px;
  }
}

.menu-toggle {
  padding: 20px;
}

.hamburger {
  display: block;
  width: 24px;
  height: 4px;
  background-color: $tsa-pink;
  position: relative;

  &:after,
  &:before {
    content: "";
    display: block;
    left: 0;
    right: 0;
    height: 4px;
    background-color: $tsa-pink;
    position: absolute;
  }

  &:before {
    top: -8px;
  }

  &:after {
    top: 8px;
  }
}

.post-list {

  li {
    margin-bottom: 100px;
  }
}

.side-nav {

  p {
    padding: 0 30px;
  }

  li {

    a {
      line-height: 44px;
      height: 44px;
    }
  }
}

.nav-desktop {
  text-align: right;
}

footer.page-footer {
  @extend .light-blue, .accent-2;
}

@media #{$small-and-down} {
  .blog-name {

    img {
      width: 50px;
      height: auto;
    }
  }
}