---
layout: default
regenerate: true
---

<div class="row">
  <div class="col s12 l9">
    <ul class="post-list">
        {% for post in paginator.posts %}
          <li class="">
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
              <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
            </h2>
            {{ post.excerpt }}
          </li>
        {% endfor %}
      </ul>

      {% if paginator.total_pages > 1 %}
        <ul class="pagination">
          {% if paginator.previous_page %}
            <li class="waves-effect"><a href="{{ paginator.previous_page_path }}">Newer</a></li>
          {% endif %}
          {% for num in (1...paginator.total_pages) %}
            {% if paginator.page == num %}
              {% assign page_class = 'active' %}
            {% else %}
              {% assign page_class = 'waves-effect' %}
            {% endif %}
            {% if num == 1 %}
              <li class="{{ page_class }}"><a href="/">{{ num }}</a></li>
            {% else %}
              <li class="{{ page_class }}"><a href="/{{ site.paginate_path | replace: ':num', num }}">{{ num }}</a></li>
            {% endif %}
          {% endfor %}
          {% if paginator.next_page %}
            <li class="waves-effect"><a href="{{ paginator.next_page_path }}">Older</a></li>
          {% endif %}
        </ul>
      {% endif %}
  </div>
  {% include nav.html %}
</div>
